/build
/docs/_build
/Resources/public/vendor/ionicons/png
/Resources/public/vendor/select2-bootstrap-css/*
!/Resources/public/vendor/select2-bootstrap-css/select2-bootstrap.min.css
/vendor
.php_cs.cache
composer.lock
phpunit.xml
